<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Starter Template - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="http://bsg.ddns.net/static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="http://bsg.ddns.net/static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body class="orange lighten-5">
  <nav class="blue-grey darken-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">the BMS</a>
      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <ul class="right hide-on-med-and-down">
        <li><a href="#"><i class="material-icons">search</i></a></li>
        <li><a href="#"><i class="material-icons">view_module</i></a></li>
        <li><a href="#"><i class="material-icons">refresh</i></a></li>
        <li><a href="#"><i class="material-icons">more_vert</i></a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Beer Management System</h1>
      <div class="row center">
        <h5 class="header col s12 light">Enhancing your hobbies since 2016</h5>
      </div>
      <div class="row center">
        <a href="..." id="download-button" class="btn-large waves-effect waves-light orange">Get Started</a>
      </div>
      <br><br>

    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">done</i></h2>
            <h5 class="center">Get started</h5>

            <p class="light">
                Testar ikonerna..
            </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Socialize</h5>

            <p class="light">
                Connect to Untappd.
            </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Easy</h5>

            <p class="light">All you'r settings in one place</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>

    <div class="section">

    </div>
  </div>

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Info</h5>
          <p class="grey-text text-lighten-4">Yada yada yada</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Get in touch</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>

          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container orange-text text-lighten-3">
        &copy; Stefan Göransson 2016
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="http://bsg.ddns.net/static/js/jquery.js"></script>
  <script src="http://bsg.ddns.net/static/js/materialize.js"></script>
  <script src="http://bsg.ddns.net/static/js/init.js"></script>

  </body>
</html>
