{% extends 'base.html' %}

{%  block top %}
    Welcome {{ usr.first_name }}
    {{ block.super }}
{% endblock %}

{%  block menu %}
{%  endblock menu %}

{%  block content %}

    <h2>Your tastings</h2>
    {%  for tasting in tastings %}
        <a href="/tasting/{{ tasting.pk }}">
            {{ tasting.name }}
        </a> {% if tasting.finished %}
            ( Avslutad )
    {% else %}
        starts at: {{ tasting.date|date:'d/m-y H:i' }}
    {% endif %}
        <br>
    {% endfor %}

    {%  if usr.taster.checkin_set.exists %}
        <h2>Your 10 latest checkins</h2>
        <table>
        <tr>
            <th>
                Beer
            </th>
            <th>
                Style
            </th>
            <th>
                Brewery
            </th>
            <th>
                Rating
            </th>
            <th>
                Date
            </th>
            <th>
                Tasting
            </th>
        </tr>
        {%  for checkin in checkins %}
            <tr>
            <td>
                <a href="/cellar/beer/{{ checkin.beer.pk }}">{{ checkin.beer.name }}</a>
            </td>
            <td>
                <a href="/cellar/style/{{ checkin.beer.style.pk }}">{{ checkin.beer.style.name }}</a>
            </td>
            <td>
                <a href="/cellar/brewery/{{ checkin.beer.brewery.pk }}">{{ checkin.beer.brewery }}</a>
            </td>
            <td>{{ checkin.overall }}</td>
            <td>{{ checkin.date|date:'d/m-y' }}</td>
            <td>{{ checkin.tasting.name }}</td>
            </tr>
        {%  endfor %}
        </table>
                <a href="/checkins/">View all checkins</a>
    {%  endif %}

{#    <h2>Dna favoriter</h2>#}
{#    <h3>Öl</h3>#}
{#    {%  for beer in usr.taster.beers %}#}
{#        {{ beer }}<br>#}
{#    {%  endfor %}#}
{##}
{#    <h3>Bryggerier</h3>#}
{#    {%  for brewery in usr.taster.breweries %}#}
{#        {{ brewery }}<br>#}
{#    {%  endfor %}#}
{##}
{#    <h3>Stilar</h3>#}
{#    {%  for style in usr.taster.styles %}#}
{#        {{ style }}<br>#}
{#    {%  endfor %}#}

{%  endblock content %}