{% extends 'base.html' %}

{% block top %}
    Beer Management System [beta]
{% endblock top %}

{% block menu %}
<div id="menubar">
    {% for b in beers %}
        <span class="menuspan" title="{{ b.style }}">
            <a href="/tasting/overview/{{ tasting.pk }}?active_beer={{ b.pk }}"
                style="{%  if b == beer %}color:red{% endif %}">
            {{ forloop.counter }}

        </a></span>
    {% endfor %}
    <span class="menuspan">
        <a href="/tasting/{{ tasting.pk }}/wrapitup/">
            <img src="http://bsg.ddns.net/static/images/stats.png"  id="statsimg_menu">
        </a>
    </span>

</div>
{% endblock menu %}

{%  block content %}
    {{ block.super }}

<h2>{{ tasting }}</h2>
<hr>

<table style="width: 50%">
    {%  for beer in best_of %}
        <tr>
        {% if forloop.first %}
            <th><h3 style="color: goldenrod">{{ beer.1.name }}</h3></th><th><h3>{{ beer.0|floatformat }}</h3></th>
        {% else %}
            <strong><td>{{ beer.1.name }}</td><td>{{ beer.0|floatformat }}</td></strong>
        {% endif %}
        </tr>
    {% endfor %}
</>

{#<hr>#}
{#{%  for checkin in checkins %}#}
{#    {{ checkin }}<br>#}
{#{% endfor %}#}

{% endblock content %}