{% extends 'base.html' %}

{%  block top %}
    Välkommen {{ usr.first_name }}
{% endblock %}

{%  block menu %}
{%  endblock menu %}

{%  block content %}

{%  if tasting %}
    {% if not usr.taster in tasting.tasters.all %}
        Sorry, you're not invited to ths tasting
    {% else %}
        <h2>{{ tasting.name }}</h2>
        {{ tasting.date }}
        <br>
        {{ tasting.description }}
        <br>

        {%  if not tasting.finished and can_start %}
            <a href="/tasting/checkin/{{ tasting.pk }}/">  Start checkin' in!</a>
            <br>
        {% endif %}

        <a href="/tasting/{{ tasting.pk }}/stats/"> Your stats</a> |  <a href="/tasting/{{ tasting.pk }}/wrapitup/"> Overall stats</a>

        {%  if usr.is_superuser %}<br>
            <a href="/tasting/overview/{{ tasting.pk }}/">  [ADMIN] Start/go to the tasting!</a>
        {% endif %}

    {% endif %}

{%  else %}
    <h2>Ölprovningar</h2>

    {%  for t in tastings %}
        {%  if usr.taster in t.tasters.all %}
            <a href="/tasting/{{ t.pk }}">
                {{ t.name }}
            </a>
            {{ t.description }}
            {%  if t.finished %}
                [ finished ]
            {% endif %}
        {% endif %}


    {% endfor %}
{%  endif %}
{%  endblock content %}