{% extends 'base.html' %}

{%  block top %}
    Välkommen {{ usr.first_name }}
    {{ block.super }}
{% endblock %}

{%  block menu %}
{%  endblock menu %}

{%  block content %}

<h2>Your stats for {{ tasting.name }}</h2>


<table>
    <tr>
        <th class="stats_th">
        </th>

        <th class="stats_th">
            Beer
        </th>
        <th class="stats_th">
            Style
        </th>
        <th class="stats_th">
            Brewery
        </th>
        <th class="stats_th">
            Country
        </th>
        <th class="stats_th">
            Abv
        </th>
        <th class="stats_th">
            IBU
        </th>
        <th class="stats_th">
            Looks
        </th>
        <th class="stats_th">
            Nose
        </th>
        <th class="stats_th">
            Taste
        </th>
        <th class="stats_th">
            Overall
        </th>
        <th class="stats_th">
            Notes
        </th>

    </tr>

        {%  for checkin in checkins %}
            <tr>
            <td class="stats_td">
                {% if checkin.beer.sysbol_url %}
                    <input type="checkbox" value="{{ checkin.beer }}" disabled="disabled"/>
                            <a href="{{ checkin.beer.sysbol_url }}">
                            <img src="http://bsg.ddns.net/static/images/systembolaget.png" id="sysbol_inline">
                        </a>
                {% endif %}
            </td>
            <td class="stats_td">{{ checkin.beer.name }}</td>
            <td class="stats_td">{{ checkin.beer.style }}</td>
            <td class="stats_td">{{ checkin.beer.brewery }}</td>
            <td class="stats_td" title="{{ checkin.beer.brewery.country.name }}">
                {{ checkin.beer.brewery.country.code }}
            </td>
            <td class="stats_td">{{ checkin.beer.abv }}</td>
            <td class="stats_td">{{ checkin.beer.ibu }}</td>
            <td class="stats_td">{{ checkin.looks }}</td>
            <td class="stats_td">{{ checkin.nose }}</td>
            <td class="stats_td">{{ checkin.taste }}</td>
            <td class="stats_td">{{ checkin.overall }}</td>
            <td class="stats_td">{{ checkin.notes }}</td>
            </tr>
        {%  endfor %}
{#    <tr>#}
{#        <th colspan="6"></th>#}
{#        <th>Snitt</th>#}
{#        <th>Snitt</th>#}
{#        <th>Snitt</th>#}
{#        <th>Snitt</th>#}
{#        <th></th>#}
{#    </tr>#}
    <tr>
        <td colspan="12">
            <input type="submit" value="Add selected beers to systembolaget shopping cart" disabled="disabled"
                   title="Coming soon!">
        </td>
    </tr>
</table>

{% endblock content %}

</body>
</html>